.role {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $sp-5;
}

.staffer {
  display: flex;
  flex-basis: 100%;
  padding: $sp-4;

  @include mq(sm) {
    flex-basis: 50%;
  }

  p {
    @extend .staffer-name, .fs-3;
  }
}

.staffer-image {
  border-radius: 50%;
  width: $staffer-image-size;
  height: $staffer-image-size;
  object-fit: cover;
  margin-right: $sp-4;
  flex-shrink: 0;
}

.staffer-name {
  margin: $sp-1;
}
